.case-result--wedding .case-result__body {
  padding-bottom: 120px;
}

.case-result--wedding .ai-verdict--wedding {
  margin-top: 50px;
}

.case-result--wedding .case-result__section-divider--wedding {
  margin: 40px 0;
}
